@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,600&display=swap');

@font-face {
  font-family: 'VoronovFont';
  src: url('./fonts/VoronovFont/Voronov.ttf') format('truetype');
}

:root {
  --font-h1-112b: 700 112px/116px 'Noto Sans', sans-serif;
  --font-h2-100b: 700 100px/116px 'Noto Sans', sans-serif;
  --font-h3-88b: 500 88px/92px 'Noto Sans', sans-serif;
  --font-h4-72b: 700 72px/92px 'Noto Sans', sans-serif;
  --font-h5-56bl: 700 56px/64px 'Noto Sans', sans-serif;
  --font-h5-56m: 400 56px/64px 'Noto Sans', sans-serif;
  --font-h6-48b: 600 48px/56px 'Noto Sans', sans-serif;
  --font-h6-48m: 500 48px/64px 'Noto Sans', sans-serif;
  --font-40m: 400 40px/48px 'Roboto', sans-serif;
  --font-40l: 200 40px/44px 'Roboto Flex', sans-serif;
  --font-h7-32r: 400 32px/40px 'VoronovFont', sans-serif;
  --font-28bb: 500 28px/120% 'Roboto', sans-serif;
  --font-28l: 300 28px/30px 'Roboto', sans-serif;
  --font-h8-28r: 400 28px/32px 'VoronovFont', sans-serif;
  --font-h9-28l: 300 28px/38px 'Noto Sans', sans-serif;
  --font-24m: 400 24px/28px 'Roboto', sans-serif;
  --font-24r: 400 24px/28px 'Roboto', sans-serif;
  --font-22r: 300 22px/28px 'Roboto', sans-serif;
  --font-20r: 300 20px/20px 'Roboto', sans-serif;
  --font-20rr: 300 20px/20px 'Roboto', sans-serif;
  --font-18r: 300 18px/22px 'Roboto', sans-serif;
  --font-18m: 500 18px/120% 'Roboto', sans-serif;
  --font-16r: 300 16px/20px 'Roboto', sans-serif;
  --font-16rr: 300 16px/24px 'Roboto', sans-serif;
  --font-16m: 400 16px/20px 'Roboto', sans-serif;
  --font-16s: 600 16px/20px 'Roboto Flex', sans-serif;
  --font-14r: 400 14px/18px 'Roboto', sans-serif;
  --font-12m: 500 12px/120% 'Roboto', sans-serif;
  --font-12r: 300 12px/18px 'Roboto', sans-serif;
  --font-h10-12r: 400 12px/18px 'Noto Sans', sans-serif;

  --font-h11-72s: 600 72px/92px 'Noto Sans', sans-serif;
  --font-h12-48b: 700 48px/60px 'Noto Sans', sans-serif;
  --font-h13-48r: 400 48px/60px 'Noto Sans', sans-serif;
  --font-h13-48r-letter-spacing: 1px;
  --font-24bb: 700 24px/28px 'Roboto', sans-serif;
  --font-20m: 500 20px/24px 'Roboto', sans-serif;
  --font-14rr: 400 14px/20px 'Roboto', sans-serif;
  --font-14m: 500 14px/18px 'Roboto', sans-serif;
  --font-h14-12r: 400 12px/18px 'Noto Sans', sans-serif;
}


/* .font-h1-112b {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 116px;
} */

/* .font-h2-100b {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 116px;
}

.font-h3-88b {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-weight: 500;
  font-size: 88px;
  line-height: 92px;
}

.font-h4-72b {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 92px;
}

.font-h5-56bl {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
}

.font-h5-56m {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
}

.font-h6-48b {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.font-h6-48m {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
}

.font-40m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.font-40l {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 44px;
}

.font-h7-32r {
  font-family: 'VoronovFont', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.font-28bb {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.font-28l {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
}

.font-h8-28r {
  font-family: 'VoronovFont', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.font-h9-28l {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
}

.font-24m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.font-24r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.font-22r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
}

.font-20r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

.font-20rr {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

.font-18r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}

.font-18m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.font-16r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.font-16rr {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.font-16m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.font-16s {
  font-family: 'Roboto Flex', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.font-14r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.font-12m {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}

.font-12r {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.font-h10-12r {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
} */
