@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'VoronovFont';
  src: url('./fonts/VoronovFont/Voronov.ttf') format('truetype');
}

.font-h1-112b {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  line-height: 116px;
}

.font-h2-100b {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 116px;
}

.font-h3-88b {
  font-family: 'Noto Sans';
  font-style: normal;
  /* font-weight: 600; */
  font-weight: 500;
  font-size: 88px;
  line-height: 92px;
}

.font-h4-72b {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 92px;
}

.font-h5-56bl {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
}

.font-h5-56m {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 2px;
}

.font-h6-48b {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
}

.font-h6-48m {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
}

.font-40m {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 500; */
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}

.font-40l {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 40px;
  line-height: 44px;
}

.font-h7-32r {
  font-family: 'VoronovFont';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}

.font-28bb {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 700; */
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.font-28l {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 30px;
}

.font-h8-28r {
  font-family: 'VoronovFont';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
}

.font-h9-28l {
  font-family: 'Noto Sans';
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 0.28px;
}

.font-24m {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.font-24r {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.font-22r {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
}

.font-20r {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  /* font-weight: 400; */
  font-size: 20px;
  line-height: 20px;
}

.font-20rr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
}

.font-18r {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  /* font-weight: 400; */
  font-size: 18px;
  line-height: 22px;
}

.font-18m {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.font-16r {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.font-16rr {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.font-16m {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 20px;
}

.font-16s {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 600; */
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.font-14r {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.font-12m {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
}

.font-12r {
  font-family: 'Roboto';
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
}

.font-h10-12r {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}



/* .NotoSans {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 92px;
} */
