@import "./fonts.css";

:root {
  --main-background: #111223;
  --dark-grey-background: #1D1E2E;
  --yellow: #FFCB5A;
  --dark-grey-elements-1: #444444;
  --dark-grey-elements-2: #41414F;
  --light-grey: #888891;
  --dark-white: #D2D2D2;
  --white-1: #FFFFFF;
  --white-2: #EBEBEB;
}

html {
  color-scheme: dark light;
  &[data-theme=light] { color-scheme: light; }
  &[data-theme=dark] { color-scheme: dark; }
}

html {
  scroll-behavior: smooth;

  background-color: var(--main-background);
}

.body {
  margin: 0;
  overflow-x: hidden;
}

.sections-container {
  max-width: 1920px;
  height: 100%;

  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.head {
  position: fixed;
 
  left: 0;
  right: 0;
  top: 0;
  
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 90px;

  background: var(--main-background);
  border-bottom: 1px solid var(--dark-grey-elements-1);
  backdrop-filter: blur(8px);

  z-index: 100;
}

.header-menu-line {
  display: none;
}

.div-logo {
  display: flex;
  align-items: center;

  height: 100%;
  width: 100%;
}

.logo-header {
  margin-left: 10.52083333vw;
  /* margin-left: 202px; */

  max-width: 50px;
  height: auto;
}

.logo-name-header {
  margin-left: 20px;
  
  color: var(--white-1);

  font: var(--font-28l);
}

.header-menu-button {
  display: none;
  background-color: var(--main-background);
  border: none;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}

.nav-ul {
  display: flex;
  align-items: center;
  
  margin: 0;
  padding: 0;

  height: 100%;

  list-style: none;

  font: var(--font-16m);
}

.nav-ul li {
  margin: 0 20px;

  width: max-content;
  /* max-width: 12vw; */
  height: 22px;
}

.div-button-block {
  display: flex;
  align-items: center;
  justify-content: end;

  height: 100%;
  width: 100%;
}

.right-button-header {
  /* margin-right: 202px; */
  margin-right: 10.52083333vw;

  width: 182px;
}

.header-right-container-img-container {
  display: none;
  justify-content: space-between;

  margin-top: auto;
}

.header-right-container-img-container a {
  width: 40px;
  height: 40px;
}

/* SECTION MAIN */

.main {
  display: flex;
  flex-direction: column;

  margin-top: 90px;
}

.section-main {
  height: 960px;
}

.section-main-container {
  display: flex;
  position: relative;
}

.section-main-left {
  display: flex;
  flex-direction: column;

  padding-left: 202px;
  /* padding-left: 10.52083333vw; */
}

.section-main-text {
  display: flex;
  flex-direction: column;

  margin-top: 302px;

  width: 875px;
  height: 184px;

  z-index: 10;
}

.h1 {
  margin: 0;
  
  height: 88px;

  color: var(--yellow);
  font: var(--font-h3-88b);
}

.section-main-lower-text-div {
  display: flex;
  align-items: center;
}

.h2 {
  margin: 0;

  color: var(--white-2);
  font: var(--font-h3-88b);
}

.section-main-lower-text-span {
  margin-left: 50px;

  width: 325px;
  height: 76px;

  color: var(--white-1);

  font: var(--font-h9-28l);
  letter-spacing: 0.28px;
}

.section-main-header-circles {
  position: absolute;

  left: 54px;
  /* left: 2.8125vw; */
  top: 218px;
}

.section-main-buttons {
  display: flex;

  margin-top: 142px;
}

.section-main-button-2 {
  margin-left: 20px;
}

.section-main-right {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: 132px;
}

.section-main-video {
  margin-top: 75px;

  width: 683px;
  height: auto;
}

.section-main-right-text {
  display: flex;
  flex-direction: column;

  margin-top: 26px;
  margin-left: auto;
  margin-right: 74px;

  width: 195px;
  height: 76px;

  flex-shrink: 0;

  color: var(--white-1);
  font: var(--font-h8-28r);
}

.section-main-right-text-2 {
  text-indent: 67px;
}

.section-main-arrow {
  position: absolute;
  top: 782px;
  right: 79px;

  width: 45px;
  height: 29px;
}

/* SECTION ABOUT */

.section-about {
  height: 1173px;
}

.section-about-container {
  display: flex;
  flex-direction: column;
}

.scrolling-text-section-about {
  position: relative;

  height: 182px;

  color: var(--white-2);
  white-space: nowrap;

  font: var(--font-h1-112b);
}

.section-about-scrolling-text-upper {
  position: absolute;
  left: -3653px;

  color: var(--main-background);
  -webkit-text-stroke: 1px var(--white-2);
}

.section-about-scrolling-text-lower {
  position: absolute;
  top: 66px;
  left: -3168px;

  color: var(--yellow);
}

.section-about-main {
  display: flex;
}

.left-photos-section-about {
  display: flex;

  margin-top: 100px;
  margin-left: 74px;

  width: 566px;
}

.info-block-photo-1 {
  max-width: 108px;
  height: 751px;
}

.info-block-photo-2 {
  margin-left: 20px;

  width: 100%;
  height: auto;

  background-image: url(./media/info-block-photo-2.png);
  background-size: cover;
  background-position: center;
}

.right-section-about {
  display: flex;
  flex-direction: column;
}

.main-text-right-section-about {
  display: flex;

  margin-top: 100px;
  margin-left: 128px;

  color: var(--white-2);
  font: var(--font-18r);
}

.main-text-right-section-about-1 {
  width: 310px;

  text-align: justify;
}

.main-text-right-section-about-1-p-1::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.text-indent-120 {
  text-indent: 120px;
}

.main-text-right-section-about-2 {
  margin-left: 74px;

  width: 310px;

  text-align: justify;
}

.main-text-right-section-about-1 p,
.main-text-right-section-about-2 p {
  margin: 0;
}

.text-indent-193 {
  text-indent: 193px;
}

.text-indent-86 {
  text-indent: 86px;
}

.lower-right-section-about {
  display: flex;

  height: 100%;
}

.info-block-arrow {
  margin-left: 24px;
  margin-top: 340px;
}

.lower-right-section-about-text {
  margin-top: 303px;
  margin-left: 23px;

  width: 330px;
  height: 120px;

  text-shadow: 1px 0 1px #000;
  -webkit-text-stroke: 0.2px var(--main-background);

  color: var(--white-1);
  font: var(--font-h7-32r);
}

.lower-right-section-about-images {
  position: relative;
}

.info-block-image-goldenrec {
  position: absolute;

  top: 301px;
  left: 256px;

  z-index: 10;

  width: 182px;
  height: 236px;
}

.info-block-image-Ivan {
  position: absolute;

  top: 183px;
  left: 384px;

  width: 236px;
  height: 236px;
}

/* SECTION PLAYLISTS */

.section-playlists {
  height: 600px;

  background-color: var(--yellow);
}

.section-playlists-container {
  display: flex;
}

.section-playlists-video-div {
  width: 873px;
}

.section-playlists-right-div {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sections-playlists-video {
  margin-top: 112px;
  margin-left: 202px;

  width: 364px;
  height: 376px;

  border-radius: 5px;
}

.section-playlists-right-header {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  margin-top: 72px;
  gap: 12px;

  width: 767px;
  height: 216px;

  color: var(--main-background);
  font: var(--font-h5-56bl);
  letter-spacing: 2px;
}

.section-playlists-right-header span {
  /* FIXME: НИЖЕ ЕСТЬ 1, 2, 3 С ОДИНАКОВОЙ НАСТРОЙКОЙ */
  margin-bottom: 0;
}

.section-playlists-right-header-1 {
  /* margin-top: 90px; */
  margin-top: 0;

  text-indent: 348px;
}

.section-playlists-right-header-2 {
  margin-top: 0;
}

.section-playlists-right-header-low {
  margin-top: 10px;
  margin-bottom: 0;

  color: var(--main-background);
}

.section-playlists-right-images {
  display: flex;

  margin-top: 24px;
  padding: 0;

  list-style: none;
}

.section-playlists-right-images li {
  margin-right: 24px;
}

.section-playlists-right-images li img {
  width: 33px;
}

.playlists-block-image-yandex {
  width: 32px;
  height: 32px;

  border-radius: 12px;
  background-color: var(--white-1);
}

.section-playlists-right-text {
  position: absolute;
  left: 460px;
  top: 244px;

  width: 384px;
  height: 280px;

  color: var(--dark-grey-elements-1);
  font: var(--font-16m);
}

.section-playlists-right-text p {
  margin: 0;
}

/* SECTION WORKS */

.section-works {
  height: 1145px;
}

.section-works-container {
  position: relative;
  
  display: flex;
  flex-direction: column;

  height: 100%;
}

.section-works-upper {
  position: relative;
  display: flex;

  height: 533px;
}

.sections-works-header {
  display: flex;
  flex-direction: column;
  
  flex-shrink: 0;
  margin-top: 140px;
  margin-left: 202px;

  width: 961px;
  
  gap: 12px;
  color: var(--white-2);

  -webkit-text-stroke: 1px var(--white-2);
  font: var(--font-h5-56m);
  letter-spacing: 2px;
}

.sections-works-header-1 {
  margin-left: 600px;
}


.sections-works-header-2 {
  display: flex;

  margin-left: 280px;
}

.sections-works-header-inside {
  display: inline;
  align-self: center;

  margin-top: 3px;
  flex-shrink: 0;

  width: 77px;
  height: 56.289px;

  text-align: justify;
  color: var(--yellow);
  -webkit-text-stroke: 0px;
  font: var(--font-24m);
}

.section-works-upper-right-text {
  display: flex;
  flex-direction: column;
  
  margin-left: auto;
  margin-right: 202px;
  margin-top: 269px;
  flex-shrink: 0;

  width: 230px;

  text-align: right;
  color: var(--white-1);
  font: var(--font-16rr);
}

.section-works-line {
  position: absolute;
  right: 202px;
  top: 373px;

  flex-shrink: 0;
}

.section-works-audio-cards-container {
  position: absolute;
  top: 533px;

  display: flex;

  overflow-x: scroll;
  
  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

.section-works-audio-cards-container::-webkit-scrollbar {
  width: 0;
}

.section-works-audio-card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;

  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 38px;
  box-sizing: border-box;

  width: 492px;
  height: 300px;

  border-radius: 12px;
  border: 0.5px solid var(--light-grey);
  background: var(--dark-grey-elements-2);

  box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
}

.section-works-audio-card-head {
  display: flex;
}

.section-works-audio-card-img {
  width: 80px;
  height: 80px;

  border-radius: 10px;
  background: lightgray 50% / cover no-repeat;
}

.section-works-audio-card-head-title-container {
  display: flex;
  flex-direction: column;
  
  margin-left: 12px;
}

.section-works-audio-card-head-title {
  color: var(--white-1);
  font: var(--font-24r);
}

.section-works-audio-card-head-artist-name {
  margin-top: 4px;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-works-audio-card-site-container {
  display: flex;

  margin-left: auto;
  height: 18px;

  color: var(--white-1);
  font: var(--font-14r);
}

.section-works-audio-card-site-img {
  margin-right: 8px;
  margin-top: 1px;
  
  width: 14px;
  height: 14px;
}

.section-works-audio-card-controls {
  display: flex;
  justify-content: space-between;

  margin-top: 32px;

  width: 164px;
  height: 32px;

  align-self: center;
}

.section-works-audio-card-controls button {
  margin: 0;
  padding: 0;
  border: 0;

  background-color: unset;
}

.section-works-audio-card-progress-bar-container {
  position: relative;
  display: flex;
  align-self: center;

  margin-top: 64px;

  width: 100%;
  height: 4px;

  border-radius: 3.334px;
  background: var(--light-grey);
}

.section-works-audio-card-progress-bar-container::before {
  content: "";
  position: absolute;
  top: -12px;
  left: -8px;
  right: -8px;
  bottom: -12px;
  pointer-events: auto;
  opacity: 0;
}

.section-works-audio-card-progress-bar-container:hover::before {
  opacity: 1;
}

.section-works-audio-card-progress-bar {
  height: 4px;

  border-radius: 3.334px;
  background: var(--white-1);
}

.section-works-audio-card-progress-bar-circle {
  position: relative;

  margin-left: -1px;
  margin-top: -6px;
  
  width: 16px;
  height: 16px;

  z-index: 20;
}

.section-works-audio-card-time-container {
  display: flex;
  justify-content: space-between;
  
  margin-top: auto;

  color: var(--white-1);
  user-select: none;
  font: var(--font-14r);
}

.section-works-audio-card-before-after {
  display: flex;

  position: absolute;
  left: 42.4796748%;
  bottom: 38px;
  
  width: 96px;
  height: 50px;

  color: var(--white-1);
  align-items: end;
  user-select: none;
  pointer-events: none;
  z-index: 10;
  font: var(--font-14r);
}

.section-works-audio-card-progress-bar-vertical-line {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-1  {
  margin-left: 202px;
}

.fixer {
  transform: translateX(1000000px);
  height: 1px;
  min-width: 1px;
}

.fixer2 {
  transform: translateX(700px);
  height: 1px;
  min-width: 1px;
}

.section-works-scroll-buttons-container {
  display: flex;
  position: absolute;

  right: 202px;
  bottom: 212px;
}

.section-works-scroll-buttons-container button {
  background-color: var(--main-background);
}

.section-works-lower-text-container {
  position: absolute;
  display: flex;

  left: 202px;
  bottom: 140px;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-works-lower-text-container > div {
  width: 182px;
}

.section-works-lower-text-container-button {
  display: inline-flex;
  flex-direction: column;
}

.section-works-lower-text-container-button a {
  color: inherit;
  text-decoration: none;
}

.section-works-lower-text-line {
  margin-top: -3px;
}

/* SECTION STAGES */

.section-stages {
  height: 1128px;
  background-color: var(--dark-grey-background);
}

.sections-stages-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex-shrink: 0;
  margin-top: 140px;
  margin-left: 373px;
  margin-bottom: 0;

  width: 1343px;
  height: 216px;
  
  gap: 12px;
  color: var(--yellow);

  -webkit-text-stroke: 1px var(--yellow);
  font: var(--font-h5-56m);
  letter-spacing: 2px;
}

.sections-stages-header-1 {
  margin-left: 363px;
}

.section-stages-lower-container {
  display: flex;
  
  flex-shrink: 0;
}

.section-stages-lower-container ul {
  margin-left: 202px;
  margin-top: 120px;
  padding: 0;

  width: 1004px;
  height: 446px;
}

.section-stages-lower-container ul li {
  display: flex;
  align-items: center;

  list-style: none;

  color: var(--white-1);
  flex-grow: 1;
}

.section-stages-lower-container ul li:not(:first-of-type) {
  margin-top: 56px;
}

.mt0 {
  margin-top: 0;
}

.section-stages-lower-container-ul-li-img {
  margin-left: 32px;
  margin-right: 32px;
  flex-grow: 1;

  height: 1px;

  background-color: var(--white-1);
}

.section-stages-ul-description {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: 0;
  justify-self: end;

  width: 182px;
  height: 40px;

  color: var(--white-2);
  font: var(--font-16r);
}

.section-stages-ul-numbers {
  display: flex;

  margin-right: 32px;

  width: 54px;
  font: var(--font-40l);
}

.section-stages-ul-header {
  font: var(--font-20rr);
}

.section-stages-ul-a {
  display: flex;
  align-items: center;

  margin-top: 7px;

  width: 173px;

  color: var(--yellow);
  text-decoration: none;
  font: var(--font-16m);
}

.section-stages-ul-a-img {
  margin-left: 8px;
}

.section-stages-video-cassette {
  margin-top: 60px;
  margin-left: 148px;
  margin-right: 40px;

  width: 362px;
  height: 572px;
}

/* SECTION PRICES */

.section-prices {
  height: 1198px;
}

.section-prices-header {
  position: relative;

  margin-top: 140px;

  height: 182px;

  font: var(--font-h1-112b);
}

.section-prices-header-scrolling-text-upper {
  position: absolute;
  left: -3653px;

  white-space: nowrap;

  color: var(--main-background);
  -webkit-text-stroke: 1px var(--white-2);
}

.section-prices-header-scrolling-text-lower {
  position: absolute;
  top: 66px;
  left: -3168px;

  white-space: nowrap;

  color: var(--yellow);
}

.section-prices-lists-container {
  display: flex;
  justify-content: space-between;
  padding-left: 202px;
  padding-right: 193px;

  margin-top: 140px;
}

.section-prices-list-container-1 {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.section-prices-list-container-2 {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.section-prices-list-container-3 {
  display: flex;
  flex-direction: column;
}

.section-prices-lists-header {
  margin: 0;

  color: var(--white-1);
  font: var(--font-28bb);
}

.section-prices-ul {
  margin: 0;
  padding: 0;

  margin-top: 46px;

  font: var(--font-16r);
}

.section-prices-li {
  position: relative;

  margin-top: 14px;
  margin-left: 34px;

  list-style: none;
}

.section-prices-li-active {
  color: var(--white-2);
}

.section-prices-li-active::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url(./media/section-prices-li-active.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.section-prices-li-inactive {
  color: var(--light-grey);
}

.section-prices-li-inactive::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url(./media/section-prices-li-inactive.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.section-prices-price {
  margin-top: 56px;
  
  color: var(--white-1);
  font: var(--font-40m);
}

.section-prices-warning-container {
  position: relative;
  display: flex;

  margin-top: 4px;

  width: 126px;
}

.section-prices-warning-img:hover ~ .section-prices-warning-hover-text,
.section-prices-warning-img:hover ~ .section-prices-warning-hover-img{
  opacity: 1;
}

.section-prices-warning-text {
  margin-left: 8px;

  color: var(--light-grey);
  font: var(--font-12m);

}

.section-prices-warning-hover-text {
  position: absolute;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: -64px;
  left: -12px;

  padding: 8px 12px;

  width: 360px;
  height: 52px;

  color: var(--white-2);
  background-color: var(--dark-grey-elements-2);
  font: var(--font-12r);

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-warning-hover-img {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: -12px;
  left: -12px;

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-button {
  margin-top: 24px;
}

/* SECTION REVIEWS */

.section-reviews {
  height: 1016px;
  
  background-color: var(--dark-grey-background);
}

.section-reviews-container {
  display: flex;
  flex-direction: column;
}

.section-reviews-upper-part {
  display: flex;

  margin-top: 140px;
}

.section-reviews-upper-part-left-container {
  display: flex;

  width: 798px;
}

.section-reviews-quotes-img {
  margin-left: 165px;
  
  width: 21.172px;
  height: 18.867px;
}

.section-reviews-quote {
  margin: 0;
  margin-left: 15.5px;

  width: 298px;

  color: var(--white-2);
  font: var(--font-16rr);
}

.section-reviews-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  margin: 0;

  width: 920px;
  height: 216px;
  
  gap: 12px;
  color: var(--yellow);
  font: var(--font-h5-56m);
  letter-spacing: 2px;
}

.section-reviews-header-1 {
  margin-left: 227px;
}

.section-reviews-lower-part {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-top: 100px;

  height: 100%;
}

.section-reviews-reviews-container {
  position: absolute;

  display: flex;

  padding-left: 202px;

  overflow-x: hidden;

  scroll-behavior: smooth;
  overscroll-behavior: contain;
}

.section-reviews-reviews-container::-webkit-scrollbar {
  width: 0;
}

.section-reviews-review {
  position: relative;
  flex-shrink: 0;

  padding-left: 54px;
  padding-right: 54px;
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--light-grey);

  margin-right: 20px;

  width: 748px;
  height: 320px;
}

.section-reviews-review-head {
  display: flex;
}

.section-reviews-review-img {
  width: 44px;
}

.section-reviews-review-head-name-container {
  margin-left: 20px;

  color: var(--white-1);
  font: var(--font-16s);
}

.section-reviews-review-stars-container {
  display: flex;

  margin-top: 8px;
}

.section-reviews-review-stars-container img {
  margin-right: 4px;
}

.section-reviews-review-text {
  margin-top: 28px;

  width: 640px;

  color: var(--white-2);
  font: var(--font-16r);
}

.section-reviews-review-site-logo {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 52px;
}

.section-reviews-scroll-buttons-container {
  display: flex;

  margin-left: auto;
  margin-right: 202px;
  margin-top: auto;
  margin-bottom: 140px;
}

.section-reviews-scroll-buttons-container button {
  background-color: var(--dark-grey-background);
}

/* SECTION COMMUNICATION */

.section-communication {
  height: 795px;
}

.section-communication-container {
  display: flex;
}

.section-communication-left-container {
  margin-top: 220px;
  margin-left: 201px;
}

.section-communication-header {
  margin: 0;

  color: var(--white-2);
  font: var(--font-h6-48b);
}

.section-communication-header-p {
  margin-top: 32px;
  margin-bottom: 0;

  width: 357px;

  color: var(--white-2);
  font: var(--font-22r);
}

.section-communication-a-container {
  display: flex;

  margin-top: 102px;
}

.section-communication-a-container a {
  margin-right: 20px;
}

.section-communication-right-container {
  margin-top: 221px;
  margin-left: auto;
  margin-right: 203px;
}

.section-communication-form-upper-container {
  display: flex;

  margin-bottom: 31px;
}

.section-communication-fieldset {
  margin: 0;
  padding: 0;

  border-radius: 4px;
  border: 1px solid var(--light-grey);
}

.section-communication-fieldset:hover,
.section-communication-fieldset:focus {
  border-color: var(--white-1);
}

.section-communication-fieldset:hover .section-communication-form-legend,
.section-communication-fieldset:focus .section-communication-form-legend {
  color: var(--white-1);
}

.section-communication-fieldset-name {
  min-width: 259px;
  width: 100%;
  height: 58px;
}

.section-communication-fieldset-phone {
  min-width: 259px;
  width: 100%;
  height: 58px;

  margin-left: 20px;
}

.section-communication-fieldset-message {
  width: 100%;
  height: 106px;
}

.section-communication-form input:not([type="checkbox"]), textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

  height: 80%;
  width: 90%;

  color: var(--white-2);
  background-color: var(--main-background);
  font: var(--font-16r);

  box-shadow: inset 0 0 0 50px var(--main-background);
  -webkit-text-fill-color: var(--white-2);
}

:-webkit-autofill {
  background-color: var(--main-background) !important;
}

:autofill {
  background-color: var(--main-background);
}

.section-communication-fieldset:has(input:focus, textarea:focus) {
  border-color: var(--white-1);
}

.section-communication-fieldset:has(input:focus, textarea:focus) .section-communication-form-legend {
  color: var(--white-1);
}

.section-communication-form-legend {
  margin-left: 20px;
  padding: 0 8px;

  color: var(--light-grey);
  font: var(--font-h10-12r);
}

.section-communication-form-lower-container {
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.section-communication-form-agreement-container {
  display: flex;
  align-items: center;

  margin-right: 6px;

  max-width: 404px;
  height: 36px;
}

.section-communication-form-agreement-input[type="checkbox"] {
  margin: 0;

  width: 20px;
  min-width: 20px;
  height: 20px;
  appearance: none;
  background-image: url('./media/section-communication-checkbox-unchecked.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-communication-form-agreement-input:not(:checked):hover {
  background-image: url('./media/section-communication-checkbox-unchecked-hover.svg');
}

.section-communication-form-agreement-input:checked {
  background-image: url('./media/section-communication-checkbox-checked.svg');
}

.section-communication-form-agreement-input:checked:hover {
  background-image: url('./media/section-communication-checkbox-checked-hover.svg');
}

.section-communication-form-agreement-label {
  padding-left: 12px;

  max-width: 372px;
  min-width: 248px;

  color: var(--light-grey);
  font: var(--font-14r);
}

.section-communication-form-agreement-label-a {
  color: var(--white-2);
  text-decoration: none;
}

.section-communication-form-button {
  margin-left: auto;
}

/* FOOTER */

.footer {
  border-top: 1px solid var(--white-2);

  height: 398px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  
  padding: 92px 202px;

  box-sizing: border-box;
}

.footer-left-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.footer-logo-container {
  display: flex;
  align-items: center;

  width: 100%;
}

.footer-logo {
  max-width: 50px;
  height: auto;
}

.footer-logo-name {
  margin-left: 20px;

  height: 30px;
  
  color: var(--white-1);
  font: var(--font-28l);
}

.footer-left-container-adress {
  margin-top: 16px;

  color: var(--white-2);
  font: var(--font-16r);
}

.footer-left-container-copyright {
  margin-top: auto;

  color: var(--light-grey);
  font: var(--font-16r);
}

.footer-central-container {
  display: flex;
  flex-direction: column;
}

.footer-central-container-ul {
  margin: 0;
  padding: 0;

  font: var(--font-16r);
}

.footer-central-container-ul li{
  list-style: none;

  margin-bottom: 12px;

  color: var(--white-2);
}

.footer-central-container-a {
  margin-top: auto;

  text-decoration: none;
  white-space: nowrap;
  color: var(--light-grey);
  font: var(--font-16r);
}

.footer-right-container {
  display: flex;
  flex-direction: column;

  text-align: right;

  color: var(--white-2);
}

.footer-right-container-phone {
  font: var(--font-20r);
}

.footer-right-container-mail {
  margin-top: 12px;
  text-align: right;

  font: var(--font-16r);
}

.footer-right-container-img-container {
  display: flex;
  justify-content: space-between;

  margin-top: auto;
}

.footer-right-container-img-container a {
  width: 40px;
  height: 40px;
}

.icon:hover path{
  fill: var(--yellow);
}

.icon:hover circle{
  stroke: var(--yellow);
}












/* <<<<< UI-Kit >>>>> */

.middle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;

  text-decoration: none;
}

.large-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  width: 236px;
  min-width: 236px;

  text-decoration: none;
}

.main-button {
  color: var(--main-background);

  background-color: var(--yellow);
  border-radius: 2px;

  font: var(--font-16s);
}

.main-button:hover {
  background-color: var(--white-1);
}

.secondary-button {
  color: var(--white-2);

  border: 1px solid var(--white-2);
  border-radius: 2px;
  box-sizing: border-box;

  font: var(--font-16r);
}

.secondary-button:hover {
  background-color: var(--dark-white);
  color: var(--main-background);
}

.text-button-1 {
  color: var(--white-1);
  text-decoration: none;
}

.text-button-1:hover {
  color: var(--yellow);
}

.text-button-2:hover {
  background-color: var(--yellow);
  color: var(--main-background);
}

.text-button-2:hover .text-button-2-svg-path {
  stroke: var(--main-background);
}

.text-button-3 {
  color: var(--yellow);
}

.text-button-3:hover {
  color: var(--main-background);
  background-color: var(--yellow);
}

.text-button-3:hover path{
  stroke: var(--main-background)
}

.scroll-button {
  border: none;
  padding: 0;
}

.scroll-button-left {
  border: none;
  padding: 0;

  margin-right: 40px; 
}

.scroll-button.scroll-button-enabled:hover circle {
  stroke: none;
  fill: var(--white-1);
}

.scroll-button.scroll-button-enabled:hover path {
  stroke: var(--main-background);
}

.scroll-button.scroll-button-disabled circle {
  stroke: var(--light-grey);
}

.scroll-button.scroll-button-disabled path {
  stroke: var(--light-grey);
}

.section-works-audio-card-controls-button:hover object rect,
.section-works-audio-card-controls-button:hover object path,
.section-works-audio-card-controls-button:hover rect,
.section-works-audio-card-controls-button:hover path{
  fill: var(--light-grey);
}
