@import "./fonts.css";

:root {
  --main-background: #111223;
  --dark-grey-background: #1D1E2E;
  --yellow: #FFCB5A;
  --dark-grey-elements-1: #444444;
  --dark-grey-elements-2: #41414F;
  --light-grey: #888891;
  --dark-white: #D2D2D2;
  --white-1: #FFFFFF;
  --white-2: #EBEBEB;
}

html {
  scroll-behavior: smooth;

  background-color: var(--main-background);
}

.body {
  margin: 0;
}

/* HEADER START */

.head {
  position: fixed;
 
  left: 0;
  right: 0;
  top: 0;
  
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 90px;

  background: var(--main-background);
  border-bottom: 1px solid var(--dark-grey-elements-1);
  backdrop-filter: blur(8px);

  z-index: 100;
}

.div-logo {
  display: flex;
  align-items: center;

  flex: 1 1 0;

  height: 100%;
  width: 100%;
}

.logo-header {
  margin-left: 202px;

  max-width: 50px;
  height: auto;
}

.logo-name-header {
  margin-left: 20px;

  height: 30px;
  
  color: var(--white-1);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 1 0;

  height: 100%;
  width: 100%;
}

.nav-ul {
  display: flex;
  align-items: center;
  
  margin: 0;
  padding: 0;

  height: 100%;

  list-style: none;
}

.nav-ul li {
  margin: 0 20px;

  width: max-content;
  max-width: 12vw;
  height: 22px;
}

.div-button-block {
  display: flex;
  align-items: center;
  justify-content: end;

  height: 100%;
  width: 100%;
  
  flex: 1 1 0;
}

.right-button-header {
  margin-right: 202px;

  width: 201px;
}


/* HEADER END */

.main {
  display: flex;
  flex-direction: column;

  margin-top: 90px;
}

.section-main {
  display: flex;
  position: relative;

  margin-top: 0;

  height: 960px;
}

.section-main-left {
  display: flex;
  flex-direction: column;
}

.section-main-text {
  display: flex;
  flex-direction: column;

  margin-top: 302px;
  margin-left: 202px;

  width: 875px;
  height: 184px;

  z-index: 10;
}

.h1 {
  margin: 0;
  
  height: 88px;

  color: var(--yellow);
}

.section-main-lower-text-div {
  display: flex;
  align-items: center;
}

.h2 {
  margin: 0;
  
  height: 88px;

  color: var(--white-2);
}

.section-main-lower-text-span {
  margin-left: 50px;

  width: 325px;
  height: 76px;

  color: var(--white-1);
}

.section-main-header-circles {
  position: absolute;

  left: 54px;
  top: 218px;
}

.section-main-buttons {
  display: flex;

  margin-left: 202px;
  margin-top: 142px;
}

.section-main-button-2 {
  margin-left: 20px;
}

.section-main-right {
  position: relative;

  display: flex;
  flex-direction: column;
}

.section-main-video {
  margin-top: 75px;
  margin-left: 28px;

  width: 683px;
  height: auto;
}

.section-main-right-text {
  display: flex;
  flex-direction: column;

  margin-top: 26px;
  margin-left: 442px;

  width: 195px;
  height: 76px;

  flex-shrink: 0;

  color: var(--white-1);
  }

.section-main-right-text-2 {
  text-indent: 67px;
}

.section-main-arrow {
  position: absolute;
  margin-top: 782px;
  margin-left: 587px;

  width: 45px;
  height: 29px;
}

.section-about {
  display: flex;
  flex-direction: column;

  height: 1173px;
}

.section-about-main {
  display: flex;
}

.scrolling-text-section-about {
  height: 182px;
  color: var(--white-2);
  /* FIXME СДЕЛАТЬ СКРОЛЛИНГ ТЕКСТ*/
}

.left-photos-section-about {
  display: flex;

  margin-top: 100px;
  margin-left: 74px;

  width: 566px;
}

.info-block-photo-1 {
  max-width: 100%;
  height: auto;
}

.info-block-photo-2 {
  margin-left: 20px;

  max-width: 100%;
  height: auto;
}

.right-section-about {
  display: flex;
  flex-direction: column;
}

.main-text-right-section-about {
  display: flex;

  margin-top: 100px;
  margin-left: 100px;
}

.main-text-right-section-about-1 {
  margin-left: 28px;

  width: 310px;

  text-align: justify;
}

.main-text-right-section-about-1-p-1::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.text-indent-120 {
  text-indent: 120px;
}

.main-text-right-section-about-2 {
  margin-left: 74px;

  width: 310px;

  text-align: justify;
}

.main-text-right-section-about-1 p,
.main-text-right-section-about-2 p {
  margin: 0;
}

.text-indent-193 {
  text-indent: 193px;
}

.text-indent-86 {
  text-indent: 86px;
}

.lower-right-section-about {
  display: flex;

  height: 100%;
}

.info-block-arrow {
  margin-left: 24px;
  margin-top: 340px;
}

.lower-right-section-about-text {
  margin-top: 303px;
  margin-left: 23px;

  width: 330px;
  height: 120px;

  text-shadow: 1px 0 1px #000;
  -webkit-text-stroke: 0.2px var(--main-background);

  color: var(--white-1)
}

.lower-right-section-about-images {
  position: relative;
}

.info-block-image-goldenrec {
  position: absolute;

  top: 301px;
  left: 256px;

  z-index: 10;
}

.info-block-image-Ivan {
  position: absolute;

  top: 183px;
  left: 384px;
}

.section-playlists {
  display: flex;

  height: 600px;

  background-color: var(--yellow);
}

.section-playlists-video-div {
  width: 840px;
}

.section-playlists-right-div {
  display: flex;
  flex-direction: column;
  position: relative;

  flex: 1;
}

.sections-playlists-video {
  margin-top: 112px;
  margin-left: 202px;

  width: 364px;
  height: 376px;
}

.section-playlists-right-header {
  display: flex;
  flex-direction: column;
  
  margin: 0;
  margin-top: 72px;
  gap: 12px;

  width: 767px;
  height: 216px;

  color: var(--main-background);
}

.section-playlists-right-header span {
  /* FIXME: НИЖЕ ЕСТЬ 1, 2, 3 С ОДИНАКОВОЙ НАСТРОЙКОЙ */
  margin-bottom: 0;
}

.section-playlists-right-header-1 {
  /* margin-top: 90px; */
  margin-top: 0;

  text-indent: 348px;
}

.section-playlists-right-header-2 {
  margin-top: 0;
}

.section-playlists-right-header-low {
  margin-top: 10px;
  margin-bottom: 0;

  color: var(--main-background);
}

.section-playlists-right-images {
  display: flex;

  margin-top: 24px;
  padding: 0;

  list-style: none;
}

.section-playlists-right-images img {
  margin-right: 24px;
}

.playlists-block-image-yandex {
  width: 32px;
  height: 32px;

  border-radius: 12px;
  background-color: var(--white-1);
}

.section-playlists-right-text {
  position: absolute;
  left: 460px;
  top: 244px;

  width: 384px;
  height: 280px;

  color: var(--dark-grey-elements-1);
}

.section-playlists-right-text p {
  margin: 0;
}

.section-works {
  display: flex;
  flex-direction: column;

  height: 1145px;
}

.section-works-upper {
  position: relative;
  display: flex;

  height: 533px;
}

.sections-works-header {
  display: flex;
  flex-direction: column;
  
  flex-shrink: 0;
  margin-top: 140px;
  margin-left: 202px;

  width: 961px;
  height: 64.308px;
  
  gap: 12px;
  color: var(--white-2);
}

.sections-works-header-1 {
  margin-left: 600px;
}


.sections-works-header-2 {
  display: flex;

  margin-left: 280px;
}

.sections-works-header-inside {
  display: inline;
  align-self: center;

  margin-top: 3px;
  flex-shrink: 0;

  width: 85px;
  height: 56.289px;

  color: var(--yellow);
  -webkit-text-stroke: 0px;
}

.section-works-upper-right-text {
  display: flex;
  flex-direction: column;
  

  margin-left: auto;
  margin-right: 202px;
  margin-top: 269px;
  flex-shrink: 0;

  width: 230px;

  text-align: right;
  color: var(--white-1);
}

.section-works-line {
  position: absolute;
  right: 202px;
  top: 373px;

  /* width: 620px; */
  /* height: 0px; */
  flex-shrink: 0;
}

.main-text-right-section-about p {
  /* FIXME: УДАЛИТЬ */
  color: var(--white-2);
}

.audio-test {
  /* background-color: #fff; */
  width: 500px;
  height: 100px;
}

.section-stages {
  height: 1128px;
  background-color: var(--dark-grey-background);
}

.sections-stages-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex-shrink: 0;
  margin-top: 140px;
  margin-left: 373px;
  margin-bottom: 0;

  width: 1343px;
  height: 216px;
  
  gap: 12px;
  color: var(--yellow);
}

.sections-stages-header-1 {
  margin-left: 363px;
}

.section-stages-lower-container {
  display: flex;
  

  flex-shrink: 0;
}

.section-stages-lower-container ul {
  margin-left: 202px;
  margin-top: 120px;
  padding: 0;

  width: 1004px;
  height: 446px;
}

.section-stages-lower-container ul li {
  display: flex;
  align-items: center;

  list-style: none;

  color: var(--white-1);
  flex-grow: 1;
}

.section-stages-lower-container ul li:not(:first-of-type) {
  margin-top: 56px;
}

.mt0 {
  margin-top: 0;
}

.section-stages-lower-container ul li span {
  margin-right: 32px;
}

.section-stages-lower-container-ul-li-img {
  margin-right: 32px;
  height: 1px;
  flex-grow: 1;
  /* flex-shrink: 0;
  flex-basis: 0;
  object-fit: cover; */
  background-color: var(--white-1);
}

.section-stages-ul-description {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  margin-right: 0;
  justify-self: end;

  width: 182px;
  height: 40px;
}

.section-stages-ul-numbers {
  display: flex;

  width: 54px;
}

.section-stages-ul-a {
  display: flex;
  align-items: center;

  margin-top: 7px;

  width: 173px;

  color: var(--yellow);
  text-decoration: none;
}

.section-stages-ul-a-img {
  margin-left: 8px;
}

.section-stages-video-cassette {
  margin-top: 60px;
  margin-left: 148px;

  width: 362px;
  height: 572px;
}

.section-prices {
  height: 1198px;
}

.section-prices-header {
  height: 322px;
}

.section-prices-lists-container {
  display: flex;

  margin-top: 140px;
}

.section-prices-list-container-1 {
  display: flex;
  flex-direction: column;
  margin-left: 202px;
}

.section-prices-list-container-2 {
  display: flex;
  flex-direction: column;
  margin-left: 396px;
}

.section-prices-list-container-3 {
  display: flex;
  flex-direction: column;
  margin-left: 351px;
}

.section-prices-lists-header {
  margin: 0;

  color: var(--white-1);
}

.section-prices-ul {
  margin: 0;
  padding: 0;

  margin-top: 46px;
}

.section-prices-li {
  position: relative;

  margin-top: 14px;
  margin-left: 34px;

  list-style: none;
}

.section-prices-li-active {
  color: var(--white-2);
}

.section-prices-li-active::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url(./media/section-prices-li-active.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.section-prices-li-inactive {
  color: var(--light-grey);
}

.section-prices-li-inactive::before {
  position: absolute;
  left: -34px;

  width: 20px;
  height: 20px;

  background-image: url(./media/section-prices-li-inactive.svg);
  background-repeat: no-repeat;
  background-size: cover;

  content: '';
}

.section-prices-price {
  color: var(--white-1);

  margin-top: 56px;
}

.section-prices-warning-container {
  position: relative;
  display: flex;

  margin-top: 4px;

  width: 126px;
}

.section-prices-warning-img:hover ~ .section-prices-warning-hover-text,
.section-prices-warning-img:hover ~ .section-prices-warning-hover-img{
  opacity: 1;
}

.section-prices-warning-text {
  margin-left: 8px;

  color: var(--light-grey);
}

.section-prices-warning-hover-text {
  position: absolute;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: -64px;
  left: -12px;

  padding: 8px 12px;

  width: 360px;
  height: 52px;

  color: var(--white-2);
  background-color: var(--dark-grey-elements-2);

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-warning-hover-img {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: -12px;
  left: -12px;

  opacity: 0;
  transition: opacity 0.3s;
}

.section-prices-button {
  margin-top: 24px;
}

.section-reviews {
  height: 1016px;
  
  background-color: var(--dark-grey-background);
}

.section-reviews-upper-part {
  display: flex;

  margin-top: 140px;
}

.section-reviews-upper-part-left-container {
  display: flex;

  width: 798px;
}

.section-reviews-quotes-img {
  margin-left: 165px;
  
  width: 21.172px;
  height: 18.867px;
}

.section-reviews-quote {
  margin: 0;
  margin-left: 15.5px;

  width: 298px;

  color: var(--white-2);
}

.section-reviews-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  flex-shrink: 0;
  margin: 0;

  width: 920px;
  height: 216px;
  
  gap: 12px;
  color: var(--yellow);
}

.section-reviews-header-1 {
  margin-left: 227px;
}

.section-communication {
  display: flex;

  height: 795px;
}

.section-communication-left-container {
  margin-top: 220px;
  margin-left: 201px;
}

.section-communication-header {
  margin: 0;

  color: var(--white-2);
}

.section-communication-header-p {
  margin-top: 32px;
  margin-bottom: 0;

  width: 357px;

  color: var(--white-2);
}

.section-communication-a-container {
  display: flex;

  margin-top: 102px;
}

.section-communication-a-container a {
  margin-right: 20px;
}

.section-communication-right-container {
  margin-top: 221px;
  margin-left: 215px;
}

.section-communication-form-upper-container {
  display: flex;

  margin-bottom: 31px;
}

.section-communication-fieldset {
  margin: 0;
  padding: 0;

  border-radius: 4px;
  border: 1px solid var(--light-grey);
}

.section-communication-fieldset:hover {
  border-color: var(--white-1);
}

.section-communication-fieldset:focus {
  border-color: var(--white-1);
}

.section-communication-fieldset-name {
  width: 364px;
  height: 58px;
}

.section-communication-fieldset-phone {
  width: 364px;
  height: 58px;

  margin-left: 20px;
}

.section-communication-fieldset-message {
  width: 748px;
  height: 106px;
}

.section-communication-form input, textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

  height: 80%;
  width: 90%;

  color: var(--white-2);
  background-color: var(--main-background);
}

.section-communication-fieldset:has(input:focus, textarea:focus) {
  border-color: var(--white-1);
}

.section-communication-form-legend {
  margin-left: 20px;
  padding: 0 8px;

  color: var(--white-1);
}

.section-communication-form-lower-container {
  display: flex;
  align-items: center;

  margin-top: 40px;
}

.section-communication-form-agreement-container {
  display: flex;
  align-items: center;

  width: 404px;
  height: 36px;
}

.section-communication-form-agreement-input[type="checkbox"] {
  margin: 0;

  width: 20px;
  height: 20px;
  appearance: none;
  background-image: url('./media/section-communication-checkbox-unchecked.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  outline: none;
  cursor: pointer;
}

.section-communication-form-agreement-input:not(:checked):hover {
  background-image: url('./media/section-communication-checkbox-unchecked-hover.svg');
}

.section-communication-form-agreement-input:checked {
  background-image: url('./media/section-communication-checkbox-checked.svg');
}

.section-communication-form-agreement-input:checked:hover {
  background-image: url('./media/section-communication-checkbox-checked-hover.svg');
}

.section-communication-form-agreement-label {
  margin-left: 12px;

  width: 372px;

  color: var(--light-grey);
}

.section-communication-form-agreement-label-a {
  color: var(--white-2);
  text-decoration: none;
}

.section-communication-form-button {
  margin-left: auto;
}

.footer {
  position: relative;

  border-top: 1px solid var(--white-2);

  height: 398px;
}

.footer-container {
  position: absolute;
  display: flex;
  
  top: 92px;
  left: 202px;
  right: 203px;
  bottom: 91px;
  box-sizing: border-box;
}

.footer-left-container {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.footer-logo-container {
  display: flex;
  align-items: center;

  width: 100%;
}

.footer-logo {
  max-width: 50px;
  height: auto;
}

.footer-logo-name {
  margin-left: 20px;

  height: 30px;
  
  color: var(--white-1);
}

.footer-left-container-adress {
  margin-top: 16px;

  color: var(--white-2);
}

.footer-left-container-copyright {
  margin-top: auto;

  color: var(--light-grey);
}

.footer-central-container {
  display: flex;
  flex-direction: column;

  margin-left: 462px;
}

.footer-central-container-ul {
  margin: 0;
  padding: 0;
}

.footer-central-container-ul li{
  list-style: none;

  margin-bottom: 12px;

  color: var(--white-2);
}

.footer-central-container-a {
  margin-top: auto;

  text-decoration: none;
  color: var(--light-grey);
}

.footer-right-container {
  display: flex;
  flex-direction: column;

  justify-self: end;
  
  margin-left: auto;

  text-align: right;

  color: var(--white-2);
}

.footer-right-container-mail {
  margin-top: 12px;
  text-align: right;
}

.footer-right-container-img-container {
  display: flex;
  justify-content: end;

  margin-top: auto;
}

.footer-right-container-img-container a {
  margin-left: 40px;

  width: 40px;
  height: 40px;
}

.icon:hover path{
  fill: var(--yellow);
}

.icon:hover circle{
  stroke: var(--yellow);
}












/* <<<<< UI-Kit >>>>> */

.middle-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 48px;

  text-decoration: none;
}

.large-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 56px;
  width: 236px;

  text-decoration: none;
}

.main-button {
  color: var(--main-background);

  background-color: var(--yellow);
  border-radius: 2px;
}

.main-button:hover {
  background-color: var(--white-1);
}

.secondary-button {
  color: var(--white-2);

  border: 1px solid var(--white-2);
  border-radius: 2px;
}

.secondary-button:hover {
  background-color: var(--dark-white);
  color: var(--main-background);
}

.text-button-1 {
  color: var(--white-1);
  text-decoration: none;
}

.text-button-1:hover {
  color: var(--yellow);
}

.text-button-2:hover {
  background-color: var(--yellow);
  color: var(--main-background);
}

.text-button-2:hover .text-button-2-svg-path {
  stroke: var(--main-background);
}

.text-button-3 {
  color: var(--yellow);
}

.text-button-3:hover {
  color: var(--main-background);
  background-color: var(--yellow);
}
