@media (width <= 1439px) {
  .sections-container {
    max-width: 1100px;
  }

  /* HEADER */

  .header-contacts {
    right: calc(6.25vw + 202px);
    display: flex;
  }

  .header-contacts-phone {
    display: none;
  }

  .header-contacts-phone-small {
    display: unset;
  }

  .header-contacts-messangers {
    margin-top: 0;
  }

  .header-contacts-messangers-item img {
    width: 18px;
    height: 18px;

    margin-left: 12px;
  }

  /* SECTION MAIN */

  .section-main {
    height: 680px;
  }

  .section-main-left {
    padding-left: 47px;
  }

  .section-main-text {
    width: 426px;
    height: 276px;
    margin-top: 89px;
  }

  .section-main-lower-text-div {
    margin-top: 4px;
    text-indent: 265px;
  }

  .section-main-lower-text-span {
    position: absolute;

    text-indent: 0;

    transform: translate(206px, 45px);
  }

  .section-main-header-circles {
    top: 13px;
    left: -35px;
  }

  .section-main-buttons {
    margin-top: 84px;
  }

  .section-main-right {
    margin-right: 46px;
  }

  .section-main-video {
    width: 425px;
    margin-top: 97px;
  }

  .section-main-right-text {
    margin-top: 22px;
    margin-right: 87px;
  }

  .section-main-arrow {
    top: 542px;
    right: 92px;
  }

  /* SECTION ABOUT */

  .section-about {
    height: 931px;
  }

  .left-photos-section-about {
    width: 427px;
    margin-top: 43px;
    margin-left: -133px;
  }

  .info-block-photo-1 {
    display: none;
  }

  .info-block-photo-2 {
    width: 427px;
    height: 620px;

    margin-left: 0;
  }

  .main-text-right-section-about {
    margin-top: 56px;
  }

  .info-block-arrow {
    margin-top: 321.33px;
    margin-left: 39px;
  }

  .lower-right-section-about-text {
    margin-top: 263px;
  }

  .info-block-image-goldenrec {
    top: 129px;
    left: -42px;
  }

  .info-block-image-Ivan {
    top: 23px;
    left: 99px;
  }

  /* SECTION PLAYLISTS */

  .section-playlists {
    height: 600px;
  }

  .section-playlists-video-div {
    width: 100%;
    min-width: 445px;
  }

  .sections-playlists-video {
    margin-left: 48px;
  }

  .section-playlists-right-header {
    width: 631px;
  }

  .section-playlists-right-header-1 {
    text-indent: 269px;
  }

  .section-playlists-right-text {
    top: 232px;
    left: 371px;

    width: 236px;
    height: 324px;

    font: var(--font-12m);
    gap: 4px;
  }

  /* SECTION WORKS */

  .section-works {
    height: 941px;
  }

  .section-works-upper {
    height: 412px;
  }

  .sections-works-header {
    margin-top: 100px;
    margin-left: 39px;
  }

  .section-works-upper-right-text {
    margin-top: 236px;
    margin-right: 48px;
  }

  .section-works-line {
    top: 312px;
    right: 48px;

    width: 236px;
    transform: scaleY(1.4);
  }

  .section-works-audio-cards-container {
    top: 412px;
  }

  .card-1 {
    margin-left: 10039px;
  }

  .section-works-scroll-buttons-container {
    right: 48px;
    bottom: 158px;
  }

  .section-works-lower-text-container {
    bottom: 69px;
    left: 38px;
  }

  .section-works-lower-text-container > div {
    width: 182px;
  }

  .section-works-lower-text-line {
    margin-top: -3px;
  }

  /* SECTION STAGES */

  .section-stages {
    height: 1138px;
    background: linear-gradient(
      to bottom,
      var(--dark-grey-background) 80%,
      var(--main-background) 130%
    );
  }

  .sections-stages-header {
    width: 100%;

    height: 196px;
    margin-top: 95px;
    margin-left: 51px;
  }

  .sections-stages-header-1 {
    margin-left: 185px;
  }

  .section-stages-lower-container {
    flex-direction: column;
  }

  .section-stages-lower-container ul {
    width: 832px;
    margin-top: 63px;
    margin-left: 39px;
  }

  .section-stages-video-cassette {
    margin-top: -45px;
    margin-right: -79px;
    margin-left: auto;

    transform: rotate(-90deg);
  }

  /* SECTION PRICES */

  .section-prices {
    height: 957px;
    background: linear-gradient(
      to bottom,
      var(--dark-grey-background) -20%,
      var(--main-background) 30%
    );
  }

  .section-prices-header-container {
    top: 62px;
  }

  .section-prices-lists-container {
    padding-right: 48px;
    padding-left: 48px;

    margin-top: 330px;
  }

  .section-prices-button {
    margin-top: 22px;
  }

  /* SECTION REVIEWS */

  .section-reviews {
    position: relative;

    height: 892px;
  }

  .section-reviews-upper-part-left-container {
    position: absolute;
    top: 732px;
  }

  .section-reviews-quotes-img {
    margin-left: 48px;
  }

  .section-reviews-header {
    margin-left: 260px;
  }

  .section-reviews-header-1 {
    margin-left: 200px;
  }

  .section-reviews-lower-part {
    margin-top: 80px;
  }

  .section-reviews-reviews-container {
    padding-left: 48px;
  }

  .section-reviews-scroll-buttons-container {
    right: 48px;
    bottom: 144px;
  }

  /* SECTION COMMUNICATION */

  .section-communication {
    height: 586px;
  }

  .section-communication-left-container {
    margin-top: 140px;
    margin-left: 48px;
  }

  .section-communication-right-container {
    max-width: 540px;
    margin-top: 140px;
    margin-right: 48px;
  }

  .section-communication-fieldset-name {
    min-width: 236px;
  }

  .section-communication-fieldset-phone {
    min-width: 236px;
  }

  .section-communication-form-lower-container {
    margin-top: 40px;
  }

  .section-communication-form-agreement-input[type="checkbox"] {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border: none;
    margin: 0;
    appearance: none;
    background-image: url("../assets/images/section-communication-checkbox-unchecked.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    outline: none;
  }

  .section-communication-form-agreement-input:checked {
    background-image: url("../assets/images/section-communication-checkbox-checked.svg");
  }
  
  .section-communication-form-agreement-input:not(:checked):hover {
    background-image: url("../assets/images/section-communication-checkbox-unchecked-hover.svg");
  }

  .section-communication-form-agreement-input:checked:hover {
    background-image: url("../assets/images/section-communication-checkbox-checked-hover.svg");
  }

  .section-communication-form-agreement-label {
    min-width: 248px;

    max-width: 372px;
    padding-left: 12px;

    color: var(--light-grey);
    font: var(--font-14r);
  }

  .section-communication-form-agreement-label-a {
    color: var(--white-2);
    text-decoration: none;
  }

  .section-communication-form-button {
    margin-left: auto;
  }

  /* MODAL */

  .modal {
    width: 747px;
    height: 480px;
    padding: 100px 53px;
  }

  .modal.modal-hash-active {
    padding-top: 81px;
    padding-bottom: 81px;
  }

  .modal-close-button {
    top: 27px;
    right: 26.32px;
  }

  .modal-header {
    width: 200px;

    font: var(--font-h18-32s);
  }

  .modal.try-for-free .modal-header {
    font: var(--font-h18-32s);
  }

  .modal-hashtag {
    padding: 6px 16px;
    margin-top: 17px;

    font: var(--font-16r);
  }

  .modal-demo-p {
    margin-right: 20px;
    margin-bottom: 20px;

    font: var(--font-18m);
  }

  .modal-p {
    margin-top: 0;

    font: var(--font-18r);
  }

  .modal.try-for-free .modal-p {
    margin-right: -30px;
  }

  .modal-form-agreement {
    max-width: 271px;

    font: var(--font-12m);
  }

  .modal-sent-header {
    font: var(--font-h18-32s);
  }

  .modal-sent-p {
    width: 236px;
    margin-top: 24px;

    font: var(--font-18r);
  }

  .modal-sent-img {
    top: 55px;
    right: 114px;
  }

  .modal-sent-button {
    bottom: 81px;
  }

  /* FOOTER */

  .footer-container {
    padding: 80px 48px;
  }
}
