@media (width <= 579px) {
  .sections-container {
    max-width: 360px;
  }

  /* HEADER */

  .head {
    height: 76px;
  }

  .div-logo {
    margin-left: 22px;
  }

  .logo-header {
    max-width: 36px;
  }

  .logo-name-header {
    display: none;
  }

  .header-menu-button {
    margin-right: 22px;
  }

  .header-menu-opened .header-menu-line {
    top: 80px;
    right: 22px;
    left: 22px;

    width: calc(100% - 44px);
  }

  .header-menu-opened .div-logo {
    height: 76px;
  }

  .header-menu-opened .div-button-block {
    bottom: 15%;
  }

  .header-contacts {
    bottom: 26%;
  }

  .header-menu-opened .logo-name-header {
    display: block;

    transform: translateY(2px);
  }

  .header-menu-opened .header-menu-button {
    top: 28px;
    right: 0;

    margin-left: 25.32px;
  }

  .header-menu-opened .nav {
    top: 24.39%;
  }

  .header-menu-opened .nav-ul {
    font: var(--font-h20-22r);
  }

  .header-menu-opened .nav-ul li {
    margin-bottom: 32px;
  }

  .header-contacts-phone {
    min-width: 190px;
    font: var(--font-24m);
  }

  .header-contacts-messengers {
    margin-top: 12px;
  }

  /* SECTION MAIN */

  .section-main {
    height: 992px;
  }

  .section-main-left {
    margin-left: 22px;
  }

  .section-main-text {
    width: unset;

    margin-top: 89px;
  }

  .h1 {
    font: var(--font-h15-53s);
  }

  .section-main-lower-text-span {
    top: 131px;
    left: 191px;

    width: 113px;

    font: var(--font-h16-14r);
  }

  .section-main-header-circles {
    top: 29px;
    left: -74px;
  }

  .section-main-buttons {
    top: 769px;

    flex-direction: column;
  }

  .section-main-button-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .section-main-right {
    margin-right: 22px;
  }

  .section-main-video {
    width: 316px;
    margin-top: 40px;
  }

  .section-main-right-text {
    margin-top: 26px;
    margin-right: 104px;
  }

  .section-main-arrow {
    top: 379px;
    right: 109px;
  }

  /* SECTION ABOUT */

  .section-about {
    height: 1255px;
  }

  .left-photos-section-about {
    margin-top: 48px;
  }

  .info-block-photo-2 {
    width: 360px;
  }

  .main-text-right-section-about {
    margin-top: 448px;
    margin-right: 22px;
    margin-left: 22px;

    font: var(--font-14r);
  }

  .main-text-right-section-about-1 {
    width: 316px;
  }

  .main-text-right-section-about-2 {
    width: 316px;
  }

  .lower-right-section-about-text {
    top: 310px;
    left: 178px;
  }

  .info-block-image-goldenrec {
    top: 164px;
    left: -32px;
  }

  .text-indent-193 {
    text-indent: 0;
  }

  .text-indent-86 {
    text-indent: 0;
  }

  .info-block-image-Ivan {
    top: 46px;
    left: 102px;
  }

  /* SECTION PLAYLISTS */

  .section-playlists {
    height: 871px;
  }

  .section-playlists-video-div {
    min-width: 316px;
  }

  .sections-playlists-video {
    width: 316px;
    height: 324px;
    margin-left: 22px;
  }

  .section-playlists-right-header {
    margin-top: 24.35px;
    margin-left: 22px;

    font: var(--font-h18-32b);
  }

  .section-playlists-right-text {
    top: 595px;
    left: 22px;

    width: 323px;
    hyphens: auto;
  }

  /* SECTION WORKS */

  .section-works {
    height: 1559px;
  }

  .sections-works-header {
    margin-top: 48px;
    margin-left: 22px;

    font: var(--font-h18-32s);
  }

  .sections-works-header-inside {
    margin-top: 92px;
  }

  .sections-works-header-3 {
    margin-top: 46px;
  }

  .section-works-audio-cards-container {
    top: 308px;
  }

  .section-works-audio-card {
    width: 154px;
    height: 154px;
    margin-right: 22px;
    margin-bottom: 8px;
    margin-left: 22px;
  }

  .section-works-audio-card-controls {
    bottom: 8px;
    left: 8px;

    height: 30px;
  }

  .section-works-audio-card-progress-bar-container {
    height: 4px;
  }

  .section-works-audio-card-progress-bar {
    height: 4px;
  }

  .card-1 {
    width: 316px;
  }

  .card-4 {
    height: 320px;
    transform: translate(162px, -162px);
  }

  .section-works-lower-text-container {
    bottom: 49px;
    left: 184px;
  }

  /* SECTION STAGES */

  .section-stages {
    height: 1341px;
  }

  .sections-stages-header {
    width: 333px;
    height: 196px;
    margin-top: 60px;
    margin-left: 22px;

    font: var(--font-h18-32s);

    gap: 0;
    letter-spacing: 0;
    line-height: 1.4;
  }

  .section-stages-lower-container ul {
    width: 252px;
    height: 640px;
    margin-top: 60px;
    margin-left: 54px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .section-stages-lower-container ul li {
    position: relative;

    height: 132px;
  }

  .section-stages-lower-container ul li:not(:first-of-type) {
    margin-top: 8px;
  }

  .section-stages-lower-container-ul-li-img {
    position: absolute;
    top: -6px;
    left: -21px;

    width: 80px;

    margin: 0;

    transform: rotate(90deg);
  }

  .section-stages-lower-container
    li:first-of-type
    .section-stages-lower-container-ul-li-img {
    display: none;
  }

  .section-stages-ul-description {
    position: absolute;

    top: 89px;
    left: 70px;
  }

  .section-stages-ul-a {
    width: 173px;
  }

  .section-stages-video-cassette {
    margin-top: 0;
    margin-right: -144px;
  }

  /* SECTION PRICES */

  .section-prices-lists-container > div:nth-child(-n + 2)::after {
    left: 0;

    width: 316px;
  }

  .section-prices-lists-container > div {
    box-sizing: border-box;
    padding-left: 40px;
  }

  .section-prices-button {
    margin-left: -40px;
  }

  .section-prices-warning-hover-text {
    width: 290px;
    height: 72px;
  }

  /* SECTION REVIEWS */

  .section-reviews {
    height: 980px;
  }

  .section-reviews-upper-part-left-container {
    top: 840px;
  }

  .section-reviews-quotes-img {
    margin-left: 41px;
  }

  .section-reviews-header {
    width: 316px;
    height: 196px;

    margin-left: 22px;

    font: var(--font-h18-32s);

    gap: 4px;
  }

  .section-reviews-reviews-container {
    padding-left: 22px;
  }

  .section-reviews-scroll-buttons-container {
    right: 22px;
    bottom: 198px;
  }

  .scroll-button-left {
    margin-right: 236px;
  }

  /* SECTION COMMUNICATION */

  .section-communication {
    height: 965px;
  }

  .section-communication-a-container {
    top: 857px;
  }

  .section-communication-left-container {
    margin-left: 22px;
  }

  .section-communication-right-container {
    margin-left: 22px;
  }

  .section-communication-fieldset-name {
    min-width: 316px;
  }

  .section-communication-fieldset-phone {
    min-width: 316px;
  }

  .section-communication-form-lower-container {
    margin-top: 24px;
  }

  .section-communication-form-agreement-container {
    max-width: 316px;
  }

  .section-communication-form-agreement-label {
    min-width: 280px;
  }

  .section-communication-form-button {
    margin-top: 44px;
    margin-left: unset;
  }

  /* FOOTER */

  .footer {
    height: 537px;
  }

  .footer-container {
    position: relative;

    padding: 39px 22px 58px;
  }

  .footer-left-container-address {
    margin-top: 85px;
  }

  .footer-left-container-copyright {
    position: absolute;
    top: 409px;
    left: 50%;

    transform: translateX(-50%);
  }

  .footer-central-container-a {
    margin-top: 373px;

    transform: translateX(-200px);
  }

  .footer-right-container {
    width: 0;
  }

  .footer-right-container-phone {
    position: absolute;
    top: 105px;

    left: 22px;

    margin: 0;
  }

  .footer-right-container-mail {
    position: absolute;
    top: 137px;

    left: 22px;

    margin: 0;
  }

  .footer-right-container-img-container {
    position: absolute;
    top: 293px;
    right: 22px;
    left: 22px;
  }

  /* MODAL */

  .modal {
    width: unset;
    height: unset;
    padding-right: 22px;
    padding-bottom: 20px;

    padding-left: max(22px, calc((100vw - 330px) / 2));
    inset: 0;

    transform: none;
  }

  .modal-close-button {
    top: 28px;
    right: 25.32px;
  }

  .header-container {
    max-width: 100%;
  }

  .modal-header {
    width: 300px;
    font: var(--font-h6-48m);
  }

  .modal.try-for-free .modal-header {
    font: var(--font-h21-36s);
  }

  .modal-hashtag {
    margin-top: 12px;
  }

  .modal-demo-p {
    width: 260px;
    margin-top: 40px;
    margin-left: 0;

    font: var(--font-16s);
  }

  .modal-upper {
    flex-direction: column;
  }

  .modal-p-container {
    max-width: 100%;
  }

  .modal-p {
    width: 260px;
    margin: 0;
    margin-top: 20px;
    margin-right: unset;
    margin-left: 0;

    font: var(--font-16m);
  }

  .modal-lower {
    margin-top: 56px;
  }

  .modal-form-button {
    width: 100%;
    margin-top: 54px;
    margin-left: unset;
  }

  .modal-fieldset-name {
    min-width: 316px;
    max-width: 316px;
  }

  .modal-fieldset-phone {
    min-width: 316px;
    max-width: 316px;
  }

  .modal-form-lower-container {
    align-items: normal;
    margin-top: 16px;
  }

  .modal-form-agreement-label {
    max-width: 245px;
  }

  .modal-sent-header {
    margin-left: 24px;
    font: var(--font-h6-48m);
  }

  .modal-sent-p {
    width: 314px;
    margin-top: 26px;
    margin-left: 24px;

    font: var(--font-16m);
  }

  .modal-sent-img {
    position: unset;

    width: unset;
    height: unset;
    margin-top: 46px;

    margin-left: 72px;
  }

  .modal-sent-button {
    position: unset;

    width: 317px;

    margin-top: 73.23px;
    margin-left: 21px;

    transform: unset;
  }

  .modal-fieldset-phone.fieldset-error {
    margin-bottom: 14px;
  }

  /* <<<<< UI-Kit >>>>> */

  .large-button {
    width: 316px;
    min-width: 316px;
  }
}
