@media (width <= 833px) {
  .sections-container {
    max-width: 700px;
  }

  /* SECTION MAIN */

  .section-main {
    height: 1137px;
  }

  .section-main-left {
    margin-left: 43px;
  }

  .section-main-text {
    width: 550px;
    margin-top: 144px;
  }

  .section-main-lower-text-span {
    top: 190px;
    left: 275px;
  }

  .section-main-header-circles {
    top: 85px;

    left: 10px;
  }

  .section-main-buttons {
    top: 1027px;
  }

  .section-main-video {
    margin-top: 36px;
  }

  /* SECTION ABOUT */

  .section-about {
    height: 1436px;
  }

  .left-photos-section-about {
    margin-left: -195px;
  }

  .main-text-right-section-about {
    margin-right: 62px;
    margin-left: auto;
  }

  .lower-right-section-about {
    width: unset;
  }

  .lower-right-section-about-images {
    margin-left: unset;
  }

  /* SECTION STAGES */

  .section-stages-lower-container ul {
    width: initial;
  }

  /* SECTION PRICES */

  .section-prices-lists-container > div:nth-child(-n + 2)::after {
    left: -190px;

    width: 94vw;
  }

  /* SECTION REVIEWS */

  .section-reviews {
    height: 880px;
  }

  .section-reviews-upper-part-left-container {
    top: 766px;
  }

  .section-reviews-header-1 {
    margin-left: 34px;
  }

  .section-reviews-lower-part {
    margin-top: 60px;
  }

  .section-reviews-review {
    width: 316px;
    height: 410px;
    padding-top: 20px;
    padding-right: 33px;
  }

  .section-reviews-review-text {
    width: 251px;
  }

  .section-reviews-scroll-buttons-container {
    bottom: 82px;
  }

  /* SECTION COMMUNICATION */

  .section-communication-left-container {
    min-width: 285px;
  }

  .section-communication-right-container {
    margin-right: auto;
    margin-left: 30px;
  }

  .section-communication-fieldset-name {
    min-width: 300px;
  }

  .section-communication-fieldset-phone {
    min-width: 300px;
  }

  .section-communication-form-agreement-container {
    max-width: 300px;
  }

  .section-communication-form-agreement-label {
    min-width: 270px;
  }

  /* MODAL */

  .modal {
    width: 612px;
    height: 600px;
    padding: 100px 60px;
  }

  .modal.modal-hash-active {
    padding-bottom: 76px;
  }

  .modal-close-button {
    top: 29px;
    right: 29.32px;
  }

  .modal.try-for-free .modal-header {
    font: var(--font-h19-30s);
  }

  .modal-hashtag {
    margin-top: 16px;
  }

  .modal-demo-p {
    margin-right: 0;
  }

  .modal-p {
    margin-right: 46px;
  }

  .modal.try-for-free .modal-p {
    margin-right: 0;
  }

  .modal-left-container {
    margin-top: 124px;
    margin-left: 43px;
  }

  .modal-right-container {
    max-width: 364px;
    margin-top: 124px;
    margin-right: 48px;
  }

  .modal-form-upper-container {
    flex-direction: column;

    margin-bottom: 0;
  }

  .modal-fieldset-name {
    min-width: 364px;
    margin-bottom: 21px;
  }

  .modal .form-name {
    margin-top: 7px;
  }

  .modal-fieldset-phone {
    min-width: 364px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .modal-form-lower-container {
    flex-direction: column;

    margin-top: 20px;
  }

  .modal-form-agreement-container {
    max-width: unset;

    margin-right: unset;
  }

  .modal-form-agreement-label {
    min-width: unset;
    max-width: unset;

    font: var(--font-12m);
  }

  .modal-form-button {
    margin-top: 20px;
  }

  .modal-sent-img {
    top: 136px;
    right: 50px;
  }

  .modal-sent-button {
    bottom: 76px;
  }

  .modal .form-input-error {
    bottom: -35px;
  }

  .modal-form-agreement-container .form-input-error {
    bottom: -20px;
  }

  /* FOOTER */

  .footer-central-container-a {
    transform: translateX(-183px);
  }
}
