@media (width <= 1099px) {
  .sections-container {
    max-width: 834px;
  }

  /* HEADER */

  .head {
    height: 110px;
  }

  .head.header-menu-opened {
    bottom: 0;

    height: unset;

    flex-direction: column;

    background-color: var(--dark-grey-background);
  }

  .header-menu-opened .header-menu-line {
    position: absolute;
    top: 108px;
    right: 43px;
    left: 43px;
    display: block;
    width: calc(100% - 86px);

    transform: rotateY(180deg);
  }

  .div-logo {
    margin-right: auto;
    margin-left: 43px;
  }

  .header-menu-opened .div-logo {
    height: 110px;
  }

  .header-menu-button {
    display: block;

    margin-right: 43px;

    background: transparent;
    cursor: pointer;
    pointer-events: all;
  }

  .header-menu-opened .header-menu-button {
    position: absolute;
    top: 42px;
    right: 4px;
  }

  .nav {
    display: none;
  }

  .header-menu-opened .nav {
    position: absolute;
    top: 29%;

    display: flex;
  }

  .header-menu-opened .nav-ul {
    flex-direction: column;

    font: var(--font-h18-32s);
    text-transform: uppercase;
  }

  .header-menu-opened .nav-ul li {
    margin: 0;
    margin-bottom: 48px;
  }

  .div-button-block {
    display: none;
  }

  .header-menu-opened .div-button-block {
    position: absolute;
    right: 43px;

    bottom: 8.375%;
    display: flex;
    width: 236px;

    height: 56px;
  }

  .right-button-header {
    width: 236px;

    height: 56px;
    margin: 0;
  }

  .header-menu-opened .header-right-container-img-container {
    position: absolute;
    bottom: 9.715%;
    left: 43px;
    display: flex;

    width: 236px;

    justify-content: space-between;
  }

  .header-right-container-img-container a {
    width: 40px;
    height: 40px;
  }  

  .header-contacts {
    right: 50%;
    bottom: 17%;
    display: none;

    transform: translateX(50%);
  }

  .header-menu-opened .header-contacts {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .header-contacts-phone {
    display: unset;

    font: var(--font-h18-32s);
  }

  .header-contacts-phone-small {
    display: none;
  }

  .header-contacts-messengers {
    margin-top: 16px;

    gap: 26px;
  }

  .header-contacts-messengers-item img {
    width: 32px;
    height: 32px;
  }

  /* SECTION MAIN */

  .main {
    margin-top: 20px;
  }

  .section-main {
    height: 1083px;
  }

  .section-main-container {
    flex-direction: column;
  }

  .section-main-left {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .section-main-text {
    width: 700px;
    margin-top: 162px;
  }

  .section-main-lower-text-span {
    top: 95px;
    left: 398px;
  }

  .section-main-header-circles {
    top: 105px;

    left: 25px;
  }

  .section-main-buttons {
    position: absolute;

    top: 973px;
    left: 50%;

    margin: 0;
    transform: translateX(-50%);
  }

  .section-main-right {
    margin-right: auto;
    margin-left: auto;
  }

  .section-main-video {
    margin-top: 56px;
  }

  .section-main-right-text {
    margin-top: 36px;
    margin-right: 129px;
  }

  .section-main-arrow {
    top: 515px;
    right: 134px;
  }

  /* SECTION ABOUT */

  .section-about {
    height: 1407px;
  }

  .scrolling-text-section-about {
    font: var(--font-h4-88b);
  }

  .section-about-scrolling-text-lower {
    top: 46px;
  }

  .section-about-main {
    margin-top: 138px;
  }

  .left-photos-section-about {
    width: 480px;

    margin-top: 80px;
    margin-left: -127px;
  }

  .info-block-photo-2 {
    width: 480px;
    height: 700px;
  }

  .main-text-right-section-about {
    flex-direction: column;

    margin-top: 80px;
    margin-left: 132px;
  }

  .main-text-right-section-about-2 {
    margin-top: 32px;
    margin-left: 0;
  }

  .info-block-arrow {
    margin-top: 189px;
    margin-left: 24px;
  }

  .lower-right-section-about-text {
    width: 217px;
    margin-top: 179px;
  }

  .lower-right-section-about-images {
    margin-left: auto;
  }

  .info-block-image-goldenrec {
    top: 461px;
    left: -440px;
  }

  .info-block-image-Ivan {
    top: 343px;
    left: -315px;
  }

  /* SECTION PLAYLISTS */

  .section-playlists {
    height: 793px;
  }

  .section-playlists-container {
    height: unset;
    flex-direction: column-reverse;
  }

  .sections-playlists-video {
    margin-top: 60px;
    margin-left: 45px;
  }

  .section-playlists-right-header {
    width: unset;
    height: unset;
    margin-left: 43px;

    letter-spacing: normal;
  }

  .section-playlists-right-header-1 {
    margin-right: 43px;
    margin-left: auto;
    text-indent: unset;
  }

  .section-playlists-right-images {
    display: none;
  }

  .section-playlists-right-text {
    top: 336px;
    right: 43px;
    left: 427px;

    width: unset;

    font: var(--font-14m);
  }

  /* SECTION WORKS */

  .section-works {
    height: 920px;
  }

  .sections-works-header {
    margin-right: 51px;
    margin-left: 45px;
  }

  .sections-works-header-1 {
    margin-left: auto;
  }

  .sections-works-header-2 {
    margin-left: auto;
  }

  .section-works-upper-right-text {
    display: none;
  }

  .section-works-line {
    display: none;
  }

  .section-works-audio-cards-container {
    top: 388px;
  }

  .card-1 {
    margin-left: 10034px;
  }

  .section-works-scroll-buttons-container {
    right: 51px;
    bottom: 88px;
  }

  .section-works-lower-text-container {
    bottom: 80px;
    left: 34px;
  }

  /* SECTION STAGES */

  .section-stages {
    height: 1220px;
  }

  .sections-stages-header {
    width: 600px;

    height: 316px;
    margin-top: 56px;
    margin-left: 43px;
  }

  .sections-stages-header-1 {
    margin-left: 0;
  }

  .section-stages-lower-container ul {
    width: 748px;
    margin-left: 43px;
  }

  .section-stages-video-cassette {
    margin-right: -212px;
  }

  /* SECTION PRICES */

  .section-prices {
    height: 2324px;
  }

  .section-prices-header-container {
    top: 52px;
  }

  .section-prices-header {
    font: var(--font-h4-88b);
  }

  .section-prices-header-scrolling-text-lower {
    top: 46px;
  }

  .section-prices-lists-container {
    flex-direction: column;
    align-items: center;
    padding: 0;

    margin-top: 254px;
  }

  .section-prices-lists-container > div {
    position: relative;
    margin-right: 0;
  }

  .section-prices-lists-container > div:not(:first-child) {
    margin-top: 120px;
  }

  .section-prices-lists-container > div:nth-child(-n + 2)::after {
    position: absolute;
    bottom: -60px;
    left: -228px;
    width: 100vw;

    max-width: 740px;
    height: 10px;

    background-image: url("../assets/images/section-prices-dividing-line.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    content: "";
  }

  .section-prices-ul {
    margin-top: 59px;
  }

  .section-prices-button {
    width: 316px;
    margin-top: 24px;
    margin-left: -33px;
  }

  /* SECTION REVIEWS */

  .section-reviews {
    height: 842px;
  }

  .section-reviews-upper-part {
    margin-top: 60px;
  }

  .section-reviews-upper-part-left-container {
    top: 682px;
  }

  .section-reviews-quotes-img {
    margin-left: 43px;
  }

  .section-reviews-header {
    margin-left: 43px;
  }

  .section-reviews-header-1 {
    margin-left: 170px;
  }

  .section-reviews-reviews-container {
    padding-left: 43px;
  }

  .section-reviews-scroll-buttons-container {
    right: 43px;
    bottom: 128px;
  }

  /* SECTION COMMUNICATION */

  .section-communication {
    height: 669px;
  }

  .section-communication-left-container {
    margin-top: 124px;
    margin-left: 43px;
  }

  .section-communication-right-container {
    max-width: 364px;
    margin-top: 124px;
  }

  .section-communication-form-upper-container {
    flex-direction: column;

    margin-bottom: 0;
  }

  .section-communication-fieldset-name {
    min-width: 364px;
    margin-bottom: 21px;
  }

  .form-name {
    margin-top: 3px;
  }

  .section-communication-fieldset-phone {
    min-width: 364px;
    margin-bottom: 21px;
    margin-left: 0;
  }

  .section-communication-form-lower-container {
    flex-direction: column;

    margin-top: 31px;
  }

  .section-communication-form-agreement-container {
    max-width: 364px;

    margin-right: unset;

    text-align: justify;
  }

  .section-communication-form-agreement-label {
    min-width: 332px;
  }

  .section-communication-form-button {
    margin-top: 42px;
  }

  /* FOOTER */

  .footer {
    height: 411px;
  }

  .footer-container {
    padding: 79px 43px;
  }

  .footer-left-container-copyright {
    margin-top: 60px;
  }

  .footer-central-container-ul {
    display: none;
  }

  .footer-central-container-a {
    transform: translateX(-250px);
  }

  /* MODAL */

  .form-input-error {
    bottom: -30px;
  }

  .section-communication-form-agreement-container .form-input-error {
    bottom: -20px;
  }

  .modal .form-input-error {
    bottom: -20px;
  }

  .modal .form-name {
    margin-top: 0;
  }
}
