/* latin */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4AMP6lbBP.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin-ext */
@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2") format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 300;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5ardu3mhPy1Fig.woff2") format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 800;
  src: url("https://fonts.gstatic.com/s/notosans/v36/o-0bIpQlx3QUlC5A4PNB6Ryti20_6n1iPHjc5a7du3mhPy0.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Flex';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.gstatic.com/l/font?kit=NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNZu6MvZM0VvndYuByi5UEpEsi7-D_ql2oTturTdUCPvR4FDTbDEFLaYL22kZ1BoHutPml4Psxx7YaALepZI0FjUsqkzYsWr0_FhpkcOh-4KfB3VnnljtJS5OEiUysm-dV-O-RF4-4A&skey=7773cbc2d581e322&v=v26") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Flex';
  font-stretch: 100%;
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts.gstatic.com/l/font?kit=NaNNepOXO_NexZs0b5QrzlOHb8wCikXpYqmZsWI-__OGbt8jZktqc2V3Zs0KvDLdBP8SBZtOs2IifRuUZQMsPJtUsR4DEK6cULNeUx9XgTnH37Ha_FIAp4Fm0PP1hw45DntW2x0wZGzhPmr1YNMYKYn9_1IQXGwJAiUJVUMdN5YUW4O8HtSoXjC79QRyaLshNDUf3e0O-gn5rrZCu20YNZu6MvZM0VvndYuByi5UEpEsi7-D_ql2oTturTdUCPvR4FDTbDEFLaYL22kZ1BoHutPml4Psxx7YaALepZI0FjUsqkzYsWr0_FhpkcOh-4KfB3VnnljtJS5OEiUysm-dV-O-RF4-4A&skey=7773cbc2d581e322&v=v26") format('woff2');
}

@font-face {
  font-display: swap;
  font-family: VoronovFont;
  src: url("../assets/fonts/VoronovFont/Voronov.woff2") format("woff2"),
    url("../assets/fonts/VoronovFont/Voronov.ttf") format("truetype");
}

:root {
  --font-h1-112b: 700 112px/116px "Noto Sans", sans-serif;
  --font-h2-100b: 700 100px/116px "Noto Sans", sans-serif;
  --font-h3-88b: 600 88px/92px "Noto Sans", sans-serif;
  --font-h4-88b: 700 88px/92px "Noto Sans", sans-serif;
  --font-h5-56bl: 700 56px/64px "Noto Sans", sans-serif;
  --font-h5-56m: 400 56px/64px "Noto Sans", sans-serif;
  --font-h6-48b: 600 48px/56px "Noto Sans", sans-serif;
  --font-h6-48m: 500 48px/64px "Noto Sans", sans-serif;
  --font-40m: 400 40px/48px "Roboto", sans-serif;
  --font-40l: 200 40px/44px "Roboto Flex", sans-serif;
  --font-h21-36s: 600 36px/50px "Noto Sans", sans-serif;
  --font-h7-32r: 400 32px/40px "VoronovFont", sans-serif;
  --font-28bb: 500 28px/120% "Roboto", sans-serif;
  --font-28l: 300 28px/30px "Roboto", sans-serif;
  --font-h8-28r: 400 28px/32px "VoronovFont", sans-serif;
  --font-h9-28l: 300 28px/38px "Noto Sans", sans-serif;
  --font-24m: 400 24px/28px "Roboto", sans-serif;
  --font-24r: 400 24px/28px "Roboto", sans-serif;
  --font-22s: 600 22px/28px "Roboto", sans-serif;
  --font-22r: 300 22px/28px "Roboto", sans-serif;
  --font-20r: 300 20px/20px "Roboto", sans-serif;
  --font-20rr: 300 20px/20px "Roboto", sans-serif;
  --font-18r: 300 18px/22px "Roboto", sans-serif;
  --font-18m: 500 18px/120% "Roboto", sans-serif;
  --font-16r: 300 16px/20px "Roboto", sans-serif;
  --font-16rr: 300 16px/24px "Roboto", sans-serif;
  --font-16m: 400 16px/20px "Roboto", sans-serif;
  --font-16s: 600 16px/20px "Roboto Flex", sans-serif;
  --font-14r: 400 14px/18px "Roboto", sans-serif;
  --font-12m: 500 12px/150% "Roboto", sans-serif;
  --font-12r: 300 12px/18px "Roboto", sans-serif;
  --font-h10-12r: 400 12px/18px "Noto Sans", sans-serif;

  /* 1440px */
  --font-h11-72s: 600 72px/92px "Noto Sans", sans-serif;
  --font-h12-48b: 700 48px/60px "Noto Sans", sans-serif;
  --font-h13-48r: 400 48px/60px "Noto Sans", sans-serif;
  --font-h13-48r-letter-spacing: 1px;
  --font-24bb: 700 24px/28px "Roboto", sans-serif;
  --font-20m: 500 20px/24px "Roboto", sans-serif;
  --font-14rr: 400 14px/20px "Roboto", sans-serif;
  --font-14m: 500 14px/18px "Roboto", sans-serif;
  --font-h14-12r: 400 12px/18px "Noto Sans", sans-serif;

  /* 360px */
  --font-h15-53s: 600 53px/62px "Noto Sans", sans-serif;
  --font-h18-32b: 700 32px/36px "Noto Sans", sans-serif;
  --font-h18-32s: 600 32px/36px "Noto Sans", sans-serif;
  --font-h19-30s: 600 30px/36px "Noto Sans", sans-serif;
  --font-h20-22r: 400 22px/18px "Noto Sans", sans-serif;
  --font-h17-20r: 400 20px/24px "VoronovFont", sans-serif;
  --font-h21-24s: 600 24px/30px "Noto Sans", sans-serif;
  --font-18-rr: 400 18px/24px "Roboto", sans-serif;
  --font-h16-14r: 400 14px/18px "Noto Sans", sans-serif;
}
